@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  h1 {
    @apply text-4xl font-bold tracking-tight md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold tracking-tight md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-3xl font-bold tracking-tight lg:text-4xl;
  }
  h4 {
    @apply text-2xl font-bold md:text-3xl;
  }
  h5 {
    @apply text-xl font-bold md:text-2xl;
  }
  h6 {
    @apply text-lg font-bold md:text-xl;
  }
  p {
    @apply text-base md:text-lg;
  }
  small,
  small * {
    @apply text-sm font-medium md:text-base;
  }
}

:root {
  font-family: sans-serif, ui-sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    "Open Sans",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-adjust: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.125rem;
  line-height: 1.75;
}

small {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
}

.svg-width {
  width: 100%;
}

.text-gradient-lime {
  background: linear-gradient(90deg, #b0f50e 0%, #54d642 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-white-background {
  position: relative;
  margin-bottom: 0.5rem;
  transform: translate(-0.5rem, 0) scaleX(1) scaleY(1);
}

.image-white-background::before {
  content: "";
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform: translate(0.5rem, 0.5rem) scaleX(1) scaleY(1);
  background-color: #fff;
}

.fill-available {
  max-width: -webkit-fill-available;
  width: inherit;
}

.image-portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}

.grid-cols-fluid {
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--tw-fluid-col-min, 20rem), var(--tw-fluid-col-max, 1fr))
  );
}

/* hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
